body {
	background: #01070e;
	font-family: "Source Code Pro", monospace;
	color: white;
	text-align: center;
}

.navbar {
	list-style-type: none;
	padding: 0;
	margin: 2em 0;
}

.navbar--link {
	padding: 0 1rem;
	color: white;
}

.active {
	color: #1799be;
	padding: 0 1rem;
}

.email--color {
	color: #1799be;
}

/* Introduction */

.introduction {
	padding: 0;
	margin: 0;
}

/* Logo and styling */

.punk--logo {
	width: 50%;
}

/* Content Sections */

.content--section {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.content--section p {
	width: 50%;
}

.contact--button {
	outline: 2px dotted red;
	margin: 20px;
	padding: 10px;
}

/* Tests Section */

.tests {
	list-style-type: none;
	padding: 0;
}

@media (max-width: 700px) {
	.content--section,
	.content--section p {
		width: 100%;
	}
	.navbar {
		display: flex;
		flex-direction: column;
	}
	.navbar a {
		padding: 1rem 0;
	}
}
